/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// define layer names
// #define NAME:str LAYER:int
 
#define HOME  0
#define NUMS  1
#define EXTRA 2
//define key map
/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
//  |  Q  |  W  |  E  |  R  |    T    |   |  Y    |  U   |  I   |      O     |  P   |
//  |  A  |  S  |  D  |  F  |  G&ESC  |   |  H&'  |  J&; |  K&# |      L     | CAPS |
//  |  Z  |  X  |  C  |  V  |    B    |   |  N    |  M   |  ,&. | CTRL&SHIFT |  /   |
//             | GUI | NUMS | SPC&TAB |   | BSPC&RET | EXTRA  | ALT&CTRL |
                        bindings = <
   	 &kp Q &kp W &kp E &kp R &kp T       &mt GRAVE Y  &kp U      &kp I         &kp O   &kp P    
   	 &kp A &kp S &kp D &kp F &mt ESC G   &mt SQT H    &mt SEMI J &mt HASH  K      &kp L   &caps_word  
  	 &kp Z &kp X &kp C &kp V &kp B       &kp N        &kp M      &mt DOT COMMA &kp DOT &kp FSLH 
  &kp LGUI &tog NUMS &mt TAB SPACE       &mt BSPC RET &tog EXTRA &mt LCTRL RALT 
                        >;
                };
				NUMS {
// -----------------------------------------------------------------------------------------
// | BT1 | BT2 | BT3 | BT4 | BT5 |   | F2  |     |     |     |     |
// |     |     |  3  |  2  |  1  |   |  7  |  8  |  9  |     |     |
// |     |     |  4  |  5  |  6  |   |  0  |     | C_MUTE    |     |     |
//             | C_VOL_UP |   | INS |   | DEL |   | C_VOL_DN |
                        bindings = <
        &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4    &kp F2      &trans        &trans        &trans        &trans
        &trans         &trans         &kp N3         &kp N2         &kp N1           &kp N7      &kp N8        &kp N9        &trans        &trans
        &trans         &trans         &kp N4         &kp N5         &kp N6           &kp N0      &trans        &kp C_MUTE    &trans        &trans
        &kp C_VOL_UP   &trans         &kp INS                       &kp DEL     &trans        &kp C_VOL_DN
    >;
};

                EXTRA {
// -----------------------------------------------------------------------------------------
// |  !  |  @    | UP  |  $    |  %  |   |  ^  |  &  |  *  |  (  |  )  |
// |     | LEFT  | DWN | RIGHT |     |   |  -  |  =  |  [  |  ]  |  \  |
// |     |       |     |       |     |   |  _  |  +  |  {  |  }  | "|" |
//               | GUI |       | SPC |   | ENT |     | ALT |
                        bindings = <
    &kp EXCL &kp AT &kp UP   &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp ASTRK &kp LPAR &kp RPAR
    &trans   &kp LEFT &kp DOWN   &kp RIGHT   &trans      &kp MINUS &kp EQUAL &kp LBKT  &kp RBKT &kp BSLH
    &trans   &trans &trans   &trans   &trans      &kp UNDER &kp PLUS  &kp LBRC  &kp RBRC &kp PIPE
                  &kp LGUI &trans   &kp SPACE   &kp RET   &trans    &kp RALT
                        >;
                };
        };
};2
